extends ../layouts/common

block content
  h1 Create user

  if errors 
    each error in errors
      .alert.alert-danger= error
  
  form(action="/users/create", method="POST", class="my-2 my-lg-0")
      .form-group    
        label(for="name") Name
        input#name.form-control(name="name", type="text", 
        placeholder="Enter new user....", aria-label="Create", value=values ? values.name : '')
        span &nbsp;
        
      .form-group    
        label(for="phone") Phone
        input#phone.form-control(name="phone", type="text", 
        placeholder="Enter your phone....", aria-label="Create", value=values ? values.phone : '')
        span &nbsp;
      
      button.btn.btn-outline-success Create

       

        //- 